
.flex-container {
  background: url('/../../assets/send-dollars.jpeg') center/cover no-repeat;
  display: flex;
  height: 100vh;
  position: relative;
}

.rate-card {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #1a94d1;
  color: white;
  border-radius: 5px;
}

.success-button{
  color: white;
  background-color: green;
}

.error-button{
  color: black;
  background-color: darkgrey;
}

@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }

  .rate-card {
    width: 100%;
    margin-left: 0;
    align-self: auto;
  }
}

img{
  width: 25px;
  height: 20px;
}

.mat-select-box{
  width: 110px;
}

.rate{
  text-align: center;
}

.receive-method{
  font-size: large;
}

mat-error{
  background-color: wheat;
  color:rgb(216, 95, 70);
}

.error{
  color: rgb(210, 102, 80);
  font-size: large;
}

button{
  height: 2em;
  border-radius: 10px;
}