<div class="flex-container">
  <mat-card class="rate-card">
    <div *ngIf="exchangeRateError[0]">
      <span class="error">We are not able to find the latest exchang e rates. Please try again later...</span>
    </div>
    <div *ngIf="!exchangeRateError[0]">
      <div class="rate">
        <h2>Exchange rate</h2>
        <div>
          <div>1 {{form.value.fromCurrency}} = {{ rate | number : '1.2-2'}} {{form.value.toCurrency}}</div>
        </div>
        <mat-error *ngIf="form.get('amount')?.hasError('max')">You cannot send more than {{maxSendAmount}}</mat-error>
        <mat-error *ngIf="form.get('amount')?.hasError('min')">You cannot send less than 10.00</mat-error>
        <mat-error *ngIf="form.get('amount')?.hasError('pattern')">Only enter numerical values</mat-error>
      </div> <br>
      <mat-card-content>
        <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="goToRecipientDetails()">

          <mat-form-field class="mat-input-box" appearance="outline">
            <mat-label>You send</mat-label>
            <input type="number" matInput formControlName="amount">
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-select-box">
            <mat-select [(ngModel)]="fromCurrency" formControlName="fromCurrency"
              (selectionChange)="onCurrencyChange()">
              <mat-select-trigger>
                <span *ngIf="form.value.fromCurrency === 'USD'">
                  <img alt="United States" src="http://purecatamphetamine.github.io/country-flag-icons/3x2/US.svg" />
                  USD
                </span>
                <span *ngIf="form.value.fromCurrency === 'CAD'">
                  <img alt="Canada" src="http://purecatamphetamine.github.io/country-flag-icons/3x2/CA.svg" /> CAD
                </span>
              </mat-select-trigger>

              <mat-option value="USD">
                <img alt="United States" src="http://purecatamphetamine.github.io/country-flag-icons/3x2/US.svg" /> USD
              </mat-option>
              <mat-option value="CAD">
                <img alt="Canada" src="http://purecatamphetamine.github.io/country-flag-icons/3x2/CA.svg" /> CAD
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field class="mat-input-box" appearance="outline">
            <mat-label>They receive</mat-label>
            <input type="number" matInput formControlName="convertedAmount">
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-select-box">
            <mat-select [(ngModel)]="toCurrency" formControlName="toCurrency" (selectionChange)="onCurrencyChange()">
              <mat-select-trigger>
                <span *ngIf="form.value.toCurrency === 'BIF'">
                  <img alt="Burundi" src="http://purecatamphetamine.github.io/country-flag-icons/3x2/BI.svg" /> BIF
                </span>
                <span *ngIf="form.value.toCurrency === 'RWF'">
                  <img alt="Rwanda" src="http://purecatamphetamine.github.io/country-flag-icons/3x2/RW.svg" /> RWF
                </span>
              </mat-select-trigger>

              <mat-option value="BIF">
                <img alt="Burundi" src="http://purecatamphetamine.github.io/country-flag-icons/3x2/BI.svg" /> BIF
              </mat-option>
              <mat-option value="RWF">
                <img alt="Rwanda" src="http://purecatamphetamine.github.io/country-flag-icons/3x2/RW.svg" /> RWF
              </mat-option>
            </mat-select>
          </mat-form-field><br>

          <span class="receive-method">Receive method</span>&#160;
          <mat-form-field appearance="outline">
            <mat-label>Select receive method</mat-label>
            <mat-select [(ngModel)]="receiveMethod" formControlName="receiveMethod">
              <mat-option value="Mobile wallet">Mobile wallet</mat-option>
              <!-- <mat-option value="Bank account">Bank account</mat-option> -->
            </mat-select>
          </mat-form-field>
          <br>
          <button [ngClass]="{'success-button': this.form.valid, 'error-button': !this.form.valid}" type="submit">
            Continue</button>
        </form>
      </mat-card-content>
    </div>
  </mat-card>
</div>
<app-footer></app-footer>