.flex-container {
  background-color: aquamarine;
  background: url('/../../assets/transfer_money.jpeg') center/cover no-repeat;
  display: flex;
  height: 100vh;
}

.example-card {
    position: relative;
    top: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }

  .example-card {
    width: 100%;
    margin-left: 0;
    align-self: auto;
  }
}

img{
  width: 25px;
  height: 20px;
}

/* .currency{
  background-color: aqua;
} */