HELP.md
.run
.gradle/
.idea/
.vscode/

*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war

**/node_modules/
**/dist/
**/out/

npm-debug.log
yarn-error.log

**/.angular/
**/libs/
**/bin/
**/build/

.DS_Store