.signup-success {
  text-align: center;
  margin-top: 20px;
}

.signup-form {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.login-container {
  text-align: center;
}

.login-content {
  width: 100%;
  max-width: 400px;
}

.login-toolbar {
  display: flex;
  justify-content: center;
}

.center-text {
  text-align: center;
  width: 100%;
}

.message {
  margin-top: 20px;
}

mat-form-field {
  width: 80%;
  margin-top: 10px;
}

button {
  color: #085b6c;
  width: 30%;
}

mat-card{
  background-color: #cee3ec;
}
