<header>
  <div class="logo" (click)="routeTo('')">
  </div>
  <div (click)="routeTo('home')">Home</div>
  <div (click)="routeTo('/')">How it works</div>
  <div (click)="routeTo('/')">Who we are</div>
  <div *ngIf="!credentials.loggedIn">
    <span (click)="routeTo('login')">Log in</span>&#160; &#160;
    <span (click)="routeTo('signup')">Sign up</span>
  </div>
  <div *ngIf="credentials.loggedIn">
    <a routerLink='/account-details'>My account</a>
  </div>
</header>
<hr>
<router-outlet></router-outlet>