.header-item.selected {
  color: rgba(230, 191, 131, 0.972);
  font-weight: bold;
}

body, h1, h2, h3, p, div, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
}

header {
  background-color: #1a94d1;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
}

img {
  width: 60px;
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
}

nav div, nav a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

hr {
  margin-top: 20px;
  border: 1px solid #ddd;
}

router-outlet {
  padding: 20px;
}

.header-item {
  font-size: 1.6em;
}

#account-link {
  color: rgb(227, 178, 19);
  font-weight: bold;
  font-size: 1.5em;
}

@media only screen and (max-width: 768px) {
  .logo {
      display: none;
  }

  .header-item {
      font-size: 1em;
  }

  #account-link {
      font-size: 1em;
      color: white
  }
}
