<header class="app-header">
  <div class="header-brand" (click)="routeTo('')">
    <img alt="Rungika logo" src="./../../../assets/logo.png" />
    <span class="brand-name">Rungika</span>
  </div>

  <nav class="header-nav">
    <button type="button" class="nav-link" [class.active]="isSelected('/home')" (click)="routeTo('home')">Home</button>
    <button type="button" class="nav-link" [class.active]="isSelected('/how-it-works')" (click)="routeTo('/how-it-works')">How it works</button>
    <button type="button" class="nav-link" [class.active]="isSelected('/who-we-are')" (click)="routeTo('/who-we-are')">Who we are</button>
  </nav>

  <div class="header-auth" *ngIf="!credentials.loggedIn">
    <button type="button" class="nav-link" [class.active]="isSelected('/login')" (click)="routeTo('login')">Log in</button>
    <button type="button" class="btn-signup" (click)="routeTo('signup')">Sign up</button>
  </div>

  <div class="header-auth" *ngIf="credentials.loggedIn">
    <a class="account-link" routerLink="/account-details">My account</a>
  </div>
</header>

<main class="app-main">
  <router-outlet></router-outlet>
</main>
