<section class="content-page">
  <h1 class="page-title">How it works</h1>
  <p>We are here to help you send your money to your loved ones in a smooth and transparent manner.</p>

  <p>You can find our competitive rates on this application. You select the origin and destination currencies and type
    in the amount you want to send. You will see the exact amount your recipient will get.</p>

  <p>Your recipient can get the money directly to their mobile wallet or their bank account. You can track the
    status of your transfer any time on your account. You and your recipient will receive notification as the transaction is fulfilled.</p>

  <p>We currently accept debit/credit card payment only.</p>
</section>
