.full-page {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.login-container {
  text-align: center;
}

.login {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #cee3ec;
}

.message a {
  color: #007bff;
}
