<footer class="footer" *ngIf="showBottomDiv">
        <div class="container">
                <div class="footer-links">
                        <a>About Us</a> &#160;
                        <a>Contact</a> &#160;
                        <a><i class="fab fa-facebook-f"></i>&#160;Facebook</a> &#160;
                        <a><i class="fab fa-whatsapp"></i>&#160;WhatsApp</a>
                </div>
                <div class="footer-text">
                        <p>&copy; 2024 Rungika. All rights reserved.</p>
                </div>
        </div>
</footer>